<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Erika González | Ingeniería de Negocios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Erika G" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Erika González" class="profile-pic nav-link" />
              <span class="caption nav-link">Erika González</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>

          </li>
          <div class="cta">
            <a href="https://www.esen.edu.sv/ingenieria-de-negocios/" target="_blank" class="btn nav-link">Más sobre mi
              carrera</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Erika González</h2>
          <h3>Ingenieria de Negocios</h3>
          <p>Html | CSS | JavaScript | Python | SQL | Excel</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Erika G" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>¡Hola! 🙋🏻‍♀️ </h2>
          <p>
            Mi nombre es Erika Rocío González Rivera, tengo 20 años y actualmente soy estudiante de tercer año de
            Ingeniería de Negocios en la Escuela Superior de Economía y Negocios y espero poder realizar una Maestría en
            Dirección y Administración de Proyectos.
          </p>
          <p>
            Estoy certificada en el uso de Word, Power Point y Excel, además sé manejar las herramientas de
            administración de bases de datos. Dentro de mi carrera he explorado las áreas de finanzas, economía y el
            "Business Process Management".
          </p>
          <p>
            Me considero una persona proactiva, perseverante y empática. Sé trabajar muy bien en equipo, aprendo rápido
            e intento ser mi mejor versión en lo que hago.
          </p>
        </div>
      </div>
      <hr />
    </section>
    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>¡Empieza con el pie derecho!</h2>
          <p>
            Te ayudaré a crear estrategias para inicializar tus proyectos con las mejores estrategias para asegurar tu
            progreso.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Aprende a aprovechar tus oportunidades</h2>
            <p>
              Conoce tus objetivos y metas para utilizar tus recursos de la menor manera, siendo eficientes y
              manteniendo
              la relación precio-calidad estable. Satisface tus necesidades y cumple tus expectativas. Tengo la
              habilidad
              para desarrollar y mejorar sistemas que incluyan el mejor equipo a través del uso de herramientas
              analíticas, computacionales y
              experimentales.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Bríndale a tu proyecto sostenibilidad</h2>
            <p>
              Existen ciertas restricciones económicas,
              ambientales, sociales, políticas, éticas, de manufactura y sostenibilidad que necesitan ser cumplidas para
              que una idea avance. Podemos trabajar para transformar un plan con un gran potencial para que se
              desarrolle en un entorno sostenido, además de elevar
              la calidad de los productos o servicios.
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Voluntariados</h2>
        <p>Aparte de estudiar, me gusta involucrarme en proyectos de servicio social, estos son algunos de ellos:
        </p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/techo.png" />
        </div>
        <div class="project-description">
          <h2>Techo ESEN</h2>
          <p>
            Soy parte de la asociación Techo ESEN, que lucha por ponerle fin a la desigualdad en nuestro país. Esta
            organización se encarga de informar a los demàs la situación de la pobreza en la que viven miles de
            salvadoreños, así como de recaudar fondos para poder reunir materiales y junto a miles de voluntarios
            brindarles una vivienda digna.
          </p>
          <a href="https://www.techo.org/" class="project-link" target="_blank"><i class="fa fa-github"
              aria-hidden="true"> Ir al sitio de TECHO</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Limpieza de playas</h2>
          <p>
            He sido parte de jornadas de limpieza de playas en los pueblos cercanos y en la costa de mi país múltiples
            veces. Es
            increíble la cantidad de basura que es recolectada durante el dìa. Es una gran oportunidad que nos abre los
            ojos y nos pone cara a cara el daño que le hacemos al planeta tierra.
          </p>

        </div>
        <div class="project-img">
          <img src="/static/images/limpieza.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/carrera.png" />
        </div>
        <div class="project-description">
          <h2>Carrera Pro Becas</h2>
          <p>
            En el año 2019 fui parte de la octava carrera de Pro Becas ESEN, cuya finalidad es reunir fondos para
            brindar becas a estudiantes que no poseen los recursos para continuar con su educación.
          </p>
          <a href="https://www.facebook.com/ProBecasESEN/" class="project-link" target="_blank"><i class="fa fa-github"
              aria-hidden="true"> Más información</i></a>
        </div>
      </div>
      <hr />
    </section>



    <section id="contact" class="contact">
      <h2>Contáctame</h2>
      <p>
        ¡No dudes en escribirme!
      </p>
      <div class="container">
        <p>
          <a href="mailto:erikagonzalez__outlook.com"><i class="fas fa-envelope-open"></i>
            erikagonzalez__outlook.com</a>
        </p>

      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Erika G &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="erikagonzalez__outlook.com"><i class="fas fa-envelope-open"></i> erikagonzalez__outlook.com</a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>